<div class="header-bottom">
   	<div class="wrap">
   		<!-- start header menu -->
		<ul class="megamenu skyblue"><li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
		    <li style="display: inline-block;"><a class="color1" href="#">Trang chủ</a></li>
			<li class="grid" style="display: inline-block;"><a class="color2" href="#">Tin công nghệ</a></li>
      <li class="grid" style="display: inline-block;"><a class="color2" href="#">Iphone</a></li>
      <li class="grid" style="display: inline-block;"><a class="color2" href="#">SamSung</a></li>
      <li class="grid" style="display: inline-block;"><a class="color2" href="#">Phụ kiện</a></li>
      <li class="grid" style="display: inline-block;"><a class="color2" href="#">Hỗ trợ</a></li>
      <li class="grid" style="display: inline-block;"><a class="color2" href="#">Liên hệ</a></li>
  </div>
</div>
