<% include ../layout/header.ejs %>
<div class="header-top">
 <div class="wrap">
  <div class="logo">
    <%include ../page/Logo %>
    </div>
    <div class="cssmenu">
    <% include ../page/Menu %>
  </div>
  <div class="clear"></div>
</div>
 </div>
      <%include ../page/Category %>
     <div class="clear"></div>
<h1></h1>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1TBKErFfVk5o2ACOj__g4Cu3ZOLpuUhfV" width="1310" height="480"></iframe>
<% include ../layout/footer.ejs %>
