<% include ../layout/header.ejs %>
<div class="header-top">
  <div class="wrap">
    <div class="logo">
      <%include ../page/Logo %>
    </div>
    <div class="cssmenu">
      <% include ../page/Menu %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%include ../page/Category %>
<div class="clear"></div>
<div class="index-banner">
  <% include ../page/Slide %>
</div>
<% include ../page/Product %>
<% include ../layout/footer%>
