.c-content-product-2.c-bg-white.c-border {
    min-width: 290px;
    max-width: 300px;
    /* padding: 0 24px; */
}
.col_1_of_3.span_1_of_3 {
    width: 21.5%;
}

.css3 img {
    height: 275px!important;
}
